p{
    background-color: aquamarine;
}
a{
    background-color: rgb(54, 255, 248);
}div{
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
    border-style: ridge;
    border-radius: 25px;
    border-color: cadetblue;
    
}